@use "/src/app/styles/vars.scss";

.item {
  min-height: 2.2rem;
  padding: 0.3rem 1.3rem;
  background-color: vars.$background;
  font-size: vars.$font-size--m;
  word-wrap: break-word;
  transition: background-color 50ms;

  &:active {
    background-color: vars.$disabled--main;
  }
}

.done {
  color: vars.$text--dark;
}

.inputContainer {
  min-height: 2.2rem;
  padding: 0.3rem 1.3rem calc(0.3rem - 1px);
}

.input {
  font-size: vars.$font-size--m;
}
