@use "/src/app/styles/vars.scss";
@use "/src/app/styles/animations.scss";

.container {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  transition: all 200ms;
}

.onRightSwipe {
  justify-content: start;
  background: vars.$success--main;
}

.onLeftSwipe {
  justify-content: end;
  background-color: vars.$error--main;
}

.onRightSwipeActive {
  background-color: vars.$success--light;

  & div {
    animation: shakeAnimation 500ms;
  }
}

.onLeftSwipeActive {
  background-color: vars.$error--light;

  & div {
    animation: shakeAnimation 500ms;
  }
}

.icon {
  width: 1.5em;
  margin: 4px 20px 0;
  filter: vars.$white--filter;
}
