@use "/src/app/styles/vars.scss";

.container {
  max-height: calc(100% - vars.$navbar-height);
  padding: 0.8rem 0;
  overflow-y: auto;
}

.bold {
  display: inline-block;
  color: vars.$primary--main;
  font-weight: bold;
}
