@use "/src/app/styles/vars.scss";

.navbar {
  width: 100%;
  height: vars.$navbar-height;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
}

.element {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  cursor: pointer;

  & img {
    filter: vars.$text--dark--filter;
  }
}

.account {
  & img {
    width: 1.5rem;
  }
}

.calendar {
  & img {
    width: 1.75rem;
  }
}

.lists {
  & img {
    width: 1.375rem;
  }
}

.current {
  pointer-events: none;

  & img {
    filter: vars.$primary--main--filter;
  }
}
